*{  
    font-family:Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
   
}

html {
    scroll-behavior: smooth;
}
body{
    background: white;
    width:1400px;
}
.wtcp{
    margin-left:40px;
    margin-right:200px;
}
.options{
    font-size: 15px;
    margin-right:12px;
    color:#1c1d1a;
    cursor:pointer;
    text-decoration:none;
}
.header img {
    height: 80%;
    width: 200px;
    margin-right:50px;
    margin-left:20px;
    cursor:pointer;
}  
.header{
    height:80px;
    display: flex;
    /* z-index: 1000; */
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    /* background:  linear-gradient(90deg, rgba(44,183,3,1) 0%, rgba(0,37,255,1) 100%); */
    /* background: rgb(148, 148, 148); */
    color:#1c1d1a;
    font-size:30px;
    font-weight:bold;
  
    position: sticky; top: 0;
    /* border: 1px solid black; */
}
.clickHere{
    margin-left: 100px;
    margin-top:200px;
}
.clickHere a{
    font-weight: bold;
    color: #1c1d1a;
    background-color: transparent;
    border:1px solid black;
    border-radius: 100px;
    font-size: 30px;
    padding:25px;
    text-decoration: none;
    transition:0.3s;
}
.clickHere a:hover{
    font-size: 32px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.heroSection{
    background-image: url("/images/test.jpeg");
    height:900px;
    width:100%;
    background-size: cover;
    border: 1px solid black;
    margin:16px;
    margin-left: 16px;
    border-radius: 20px;
}
.tableMatches{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    background-color: white;
    margin-top:50px;
    background-color: white;
}
.pCM{
    margin-bottom:30px;
}
.standing{
    font-size: 15px;
    margin-left:10px;
    
    margin-bottom: 10px;
}

.historyPara{
    width: 500px;
    font-size: 13px;
    margin-left:10px;
    margin-bottom: 10px;
    margin-top: 5px;
    transition:0.5s;
    text-align: justify;
    border:2px solid black;
    border-radius: 20px;
    padding:10px;
}

.history{
    font-size: 18px;
    margin-left:10px;
    margin-bottom: 5px;
    margin-top: 10px;
}
.rules{
    border:none;
    padding:0;
}
.table{
    width: auto;
    position: sticky;
    align-self: flex-start;
    padding-left: 15px;
    margin-right:0;
    position: sticky;
    top: 0;
    background: white;
}
#teams {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 25%;
    margin-left:10px;
}

#teams td, #teams th {
    font-size:13px;
    font-weight: bold;
    border-bottom: 0.5px solid #ddd;
    padding: 8px;
    color: black;
}

#teams tr:nth-child(even){
    background-color: grey;
}

#teams tr:nth-child(odd){
    background-color:grey;
}

#customers tr:hover {
    background-color: #ddd;
 }

#teams th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background: #b6b6b6;
}
.completedMatches{
    background-color: white;
    margin-left:50px;
}
.resPred{
    width:200px;
    margin-left:0px;
}
.match{
    display: block;
    margin-top: 10px;
    border-bottom: 0.5px solid #496989;
    padding-bottom:10px;
    transition: 0.5s;
}

.finalMatch{
    margin-top:50px;
}
.dateVenue{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:12px;
    margin-bottom:5px;
}
.pCM{
    font-size:20px;
    font-weight: bold;
}
.team12draw{
    display:flex;
}

.draw{
    display: flex;
    justify-content: center;
    align-items: center;
    height:50px;
    width:125px;
    background-color: #f5f5f5;
    color:black;
    margin-right:5px;
    margin-left:5px;
    font-size:17px;
    transition: 0.5s;
    font-weight: bold;
    border:1px solid black;
}

.team1,.team2{
    display: flex;
    justify-content: center;
    align-items: center;
    height:50px;
    width:325px;
    background: #b6b6b6;
    color:black;
    transition: 0.5s;
    font-size:17px;
    font-weight: bold;
    border:1px solid black;
}

.team1:hover{
    border-top-left-radius: 90px;
    border-bottom-left-radius: 90px;
}

.team2:hover,.team1:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    height:50px;
    width:325px;
    background-color: #b6b6b6;
    color:white;
    font-size:20px;
    cursor:pointer;
    transition:0.6s;
}
.team2:hover{
    border-top-right-radius: 90px;
    border-bottom-right-radius: 90px;
}
.draw:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    height:50px;
    width:125px;
    border-radius: 40px;
    background-color: #f5f5f5;
    color:grey;
    font-size:19px;
    cursor:pointer;
}
.countryIcon{
    margin-left:10px;
    margin-right:10px;
    width:18px;
    height:18px;
}

.footer{
    border-top:1px black solid;
    padding-top:10px;
    margin-top:75px;
    height: 200px;
    width: 1450px;
    background: linear-gradient(90deg, rgba(44,183,3,1) 0%, rgba(0,37,255,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerText{
    font-weight: bold;
    color:white;
    font-size:20px;
}
.winImage{
    width:500px;
    height: 100%;
    margin-left:10px;
    margin-right:10px;
    margin-bottom: 5px;
    margin-top: 10px;
    border: 2px solid black;
    border-radius: 10px;
    transition:0.5s;
}
.winImage:hover{
    width:510px;
    height: 100%;
    margin-left:10px;
    margin-right:10px;
    margin-bottom: 5px;
    margin-top: 10px;
    border: 2px solid black;
    border-radius: 10px;
}